html {
  /* font-size: 16pt; */
  font-family: "Quando", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 2%;
  margin-left: 3.5%;
  margin-right: 3.5%;
  /* margin-right: 1%; */
}

.hidden {
  display: none !important;
}

#home-page header {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#home-page header {
  align-items: flex-start;
}

#title {
  width: 80%;
}

h1 {
  font-size: 42pt;
  margin-top: 0;
  margin-bottom: 0;
}

#title-buttons-container {
  display: flex;
  justify-content: flex-end;
  width: 20%;
  /* align-items: center; */
}

#search-container, #search-container input {
  width: 100%;
}

.selectable:hover, button:hover {
  cursor: pointer;
  background-color: lightgray;
}

.selectable:active, button:active {
  background-color: gray;
}

button {
  background-color: white;
  border-radius: 2.25px;
  text-align: center;
  padding-left: 2dvw;
  padding-right: 2dvw;
  padding-top: 1dvh;
  padding-bottom: 1dvh;
  border-style: solid;
  border-width: 1.25px;
  border-color: lightgray;
}

#attributes-container {
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#attributes-container button {
  font-size: 16pt;
  width: 30%;
  padding-top: 1.75dvh;
  padding-bottom: 1.75dvh;
}

.detail-page {
  height: 100%;
}

.detail-page header section {
  width: 50%;
}

.color-page header span {
  width: 50%;
  height: 1.25rem;
  margin: 0;
}

.detail-page-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.detail-page h1 {
  font-size: 42pt;
  margin-bottom: 1rem;
}

.explore-more {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 100%;
}

.explore-more ul {
  list-style-type: none;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
}

.explore-more h2 {
  flex: 0 0 100%;
  margin-bottom: -1rem;
}

.small-color-card, .small-text-card {
  margin-top: 2rem;
  padding: 1rem;
  border: solid 3px black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 350px;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 2rem;
}

.small-color-card h3, .small-text-card h3 {
  height: 50%;
  font-size: 24pt;
  margin: 0;
}

#gallery {
  columns: 4 12rem;
  gap: 1rem;
  width: 100%;
}

#favorite-page ul {
  columns: 1 12rem;
  gap: 1rem;
  width: 100%;
  padding: 0;
}

#gallery img, #favorite-page img {
  width: 100%;
  margin-bottom: 1rem;
  display: block;
}

#gallery img:hover, #favorite-page img:hover {
  cursor: pointer;
  filter: brightness(50%);
}

.favorite-small-color-card, .favorite-small-text-card {
  /* columns: 1; */
  padding-top: 1rem;
  border: solid 3px black;
  border-radius: 10px;
  text-align: center;
  height: 100%;
  width: 100%;
  margin-bottom: 1rem;
  overflow: visible;
}

.favorite-small-color-card h3, .favorite-small-text-card h3 {
  height: 50%;
  font-size: 24pt;
  margin: 0;
}

.artwork-content-wrapper {
  display: flex;
  flex-direction: row;
}

.artwork-about {
  order: 1; /* Moves image to the left visually */
  width: 50%;
  display: flex;
  flex-direction: column;
}

.artwork-about audio {
  width: 100%;
}

.artwork-image-container {
  order: 2; /* Moves image to the right visually */
  width: 50%;
  display: flex;
  /* flex-direction: column; */
  width: 50%;
  height: 100%;
  justify-content: flex-end;
  margin-left: 3rem;
}

.artwork-image-container img {
  width: 100%;
  height: 100%;
  max-height: 65dvh;
  object-fit: contain;
}


#materials-list {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  list-style-type: none;
}

#materials-list li {
  flex: 1;
  display: flex;
  justify-content: center;
}

#materials-list li article {

  margin-top: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;

  border: solid 3px black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* min-width: 500px; */
  width: 500px;
  height: max-conten;
}

#materials-list li article p {
  width: 100%;
  text-align: center;
  text-wrap: stable;
}

@media (orientation: portrait) {
  #materials-list li article {
    width: 100%; /* 100% width in portrait */
    /* max-width: 100px; set a max width for large phones so that the cards don't get too big */
  }

  #materials-list li {
    flex: 1 1 100%; /* each list item takes full width */
  }

  #materials-list {
    padding: 0;
    margin: 0;
  }
}

#colors-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

#colors-list li {
  flex: 1;
  display: flex;
  justify-content: center;
}

#colors-list li article {

  margin-top: 1rem;
  padding: 2rem;

  border: solid 3px black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

.color-swatch {
  display: block; /* Makes it sit inline with the text */
  width: 100%; /* Make swatch fill article width */
  height: 2.5rem;
  border: 1px solid #ccc; /* Optional border */
  background-color: red;
}

.small-color-swatch {
  display: block; /* Makes it sit inline with the text */
  width: 90%; /* Make swatch fill article width */
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1rem;
  height: 1rem;
  border: 1px solid #ccc; /* Optional border */
  background-color: red;
}

/* Media query for portrait orientation */
@media (orientation: portrait) {
  #colors-list li article {
    width: 100%; /* 100% width in portrait */
    /* max-width: 100px; set a max width for large phones so that the cards don't get too big */
  }

  #colors-list li {
    flex: 1 1 100%; /* each list item takes full width */
  }

  #colors-list {
    padding: 0;
    margin: 0;
  }
}

#colors-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
}

#colors-list li {
  flex: 1;
  display: flex;
  justify-content: center;
}

#colors-list li article {
  margin-top: 1rem;
  padding: 2rem;
  border: solid 3px black;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-width: 500px;
}


/* Media query for portrait orientation */
@media (orientation: portrait) {
  #colors-list li article {
    width: 100%; /* 100% width in portrait */
    /* max-width: 100px; set a max width for large phones so that the cards don't get too big */
  }

  #colors-list li {
    flex: 1 1 100%; /* each list item takes full width */
  }

  #colors-list {
    padding: 0;
    margin: 0;
  }
}


#search-page {
  width: 100%;
  height: 80dvh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

#search-page p {
  margin: 0;
}

.search-box {
  display: flex;
  /* align-items: baseline; */
  justify-content: baseline;
}

.search-bar, .search-icon {
  /* border: solid black 2px; */
  border: none;
  background-color: #F1F1F1;
}

.search-icon {
  width: 20px;
  height: 20px;
  padding: 0.25rem;
  border-radius: 5px 0 0 5px;
  border-right: none;
}

.search-bar {
  width: 100%;
  border-radius: 0 5px 5px 0px;
  border-left: none;
}

#search-page-bottom-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  bottom: 5%;
  left: 0;
  width: 100%;
  margin: 0;
}

#search-page-bottom-container button {
  padding-left: 4rem;
  padding-right: 4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#user-suggestion-page {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1rem;
}

#user-suggestion-page h3 {
  margin: 0;
  margin-bottom: 0.5rem;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.5rem;
}

.input-group textarea, .input-group input {
  max-width: 100%;
  min-width: 100%;
  min-height: 1rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

#user-suggestion-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#user-suggestion-popup {
  text-align: center;
  padding: 5rem;
}

#user-suggestion-page header {
  display: flex;
  flex-direction: column;
}

hr {
  width: 100%;
}

#upload-page form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#upload-page h2 {
  margin-bottom: 0;
  margin-top: 0;
}

#search-result-filters {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 2rem;
}

#search-result-filters input {
  width: 1rem;
  height: 1rem;
}

#search-result-filters label {
  font-size: 14pt;
}

#search-result-page ul {
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  gap: 0.5rem;
  justify-content: space-evenly;
}

#search-result-page li {
  width: 28dvw;
  height: 28dvw;
  /* margin-bottom: 0.5rem; */
}


.search-result-card-artwork, .search-result-card-text, .search-result-card-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* padding: 0; */
  padding-left: 1rem;
  padding-right: 1rem;
}


.search-result-card-artwork h3, .search-result-card-text h3, .search-result-card-color h3  {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.search-result-card-artwork p, .search-result-card-text p, .search-result-card-color p  {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}


.search-result-card-artwork img {
  /* max-width: 25dvw; */
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.search-result-card-artwork {

}

.search-result-card-text {

}

.search-result-card-color {

}